@charset "UTF-8";

html,body{
    margin:0;
    padding:0;
    height:100%;
}

h1{
    margin-left:50px;
}

ul li{
    list-style: none;
    float:left;
    margin:10px;
}

#wrapper{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: 1000
}

#glayLayer{
    display:none;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#B163A3;
    opacity: 0.60;
    filter:alpha(opacity=60);
}
#overLayer{
    display:none;
    position: fixed;
    top:50%;
    left:50%;
    margin: -150px 0 0 -200px;
/*    margin-top:-244px;
    margin-left:-325px;*/
}
